doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')    
    script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
    script(src="/javascripts/index.js")
  body
    block content
